# **Task Description#2 (loops)**

In [3]:
def print_multiples(number):
  """Prints the first 10 multiples of a given number."""
  print(f"Multiples of {number}:")
  for i in range(1, 11):
    print(number * i)

# Example usage:
print_multiples(5)

Multiples of 5:
5
10
15
20
25
30
35
40
45
50

In [4]:
def print_multiples_while(number):
    i = 1
    while i <= 10:
        print(f"{number} x {i} = {number * i}")
        i += 1

print_multiples_while(7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70